<!DOCTYPE html>

<html>
  <head>
    <title>Doe vida! Doe sangue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="imagem/png" href="{{ url_for('static', filename='icone.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Imagem de DOE"></img>
      <h2>A sua doação importa</h2>
      <p>Até 3 vidas com 1 doação</p>
      <p>Mais de 38.000 doações são necessárias todos os dias</p>
      <p>Apenas 1,9% da população brasileira, doa sangue.</p>
      <button> Quero ajudar</button>
    </header>

    <section class="form hide">
      <h2>Entre na lista de doadores</h2>
      <form action="/" method="POST">
        <input
          type="text"
          name="name"
          placeholder="Nome Completo"
        >
        <input
          type="text"
          name="email"
          placeholder="Email"
        >
        <input
          type="text"
          name="blood"
          placeholder="Tipo sanguíneo"
        >
        <button>Quero ajudar</button>
      </form>
    </section>

    <main>
      <h2>Últimos <span>doadores</span></h2>
      <section class="donors">
          <div class="donor">
            <div class="blood">AB+</div>
            <p>Ismael Ventura</p>
          </div>
          <div class="donor">
            <div class="blood">B+</div>
            <p>Django Brown</p>
          </div>
          <div class="donor">
            <div class="blood">A+</div>
            <p>Mano Brown</p>
          </div>
          <div class="donor">
            <div class="blood">O+</div>
            <p>Ismailov</p>
          </div>
      </section>
    </main>

    <footer>By DjangoBrown!!</footer>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
  </body>
</html>
